/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-image: url('../../assets/footer.jpg'), linear-gradient(#FFFFFF, #348CD2);
  background-repeat: no-repeat;
  background-size: 108% 150%;
  background-position: bottom;


  padding-bottom: 350px;

  bottom: 0;
  width: 100%;
  // background-color: #f5f5f5;

  background-repeat: no-repeat;
  background-size: 108% 76%;



}



.hero-section {
  background-image: url('../../assets/header.jpg'), linear-gradient(#348CD2, #FFFFFF);
  background-repeat: no-repeat;
  background-size: 108% 150%;
  background-position: top;
  padding-top: 350px;

}

// .site-header h2 {
//     color: var(--white-color);
// }

.element-underneath {
  /* Дополнительные стили */
  z-index: 1;
  /* Задайте значение z-index, меньшее, чем у элемента, который должен быть поверх */
}

.element-on-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 2;
  /* Задайте значение z-index, которое позволит элементу быть поверх другого */
}

// .site-footer>.container {
//     position: relative;
//     top: 50px;
//     padding-top: 100px;
// }

// .site-footer-title,
// .site-footer p {
//     color: var(--white-color);
// }

// .site-footer p strong {
//     font-family: var(--title-font-family);
// }

// .site-footer p a {
//     color: var(--white-color);
//     border-bottom: 1px solid;
//     padding-bottom: 3px;
// }

// .site-footer p a:hover {
//     color: var(--secondary-color);
// }

// .site-footer-thumb a img {
//     display: block;
//     width: 120px;
//     min-width: 120px;
//     height: auto;
// }

// .site-footer-links {
//     margin-bottom: 0;
//     padding-left: 0;
// }

// .site-footer-link-item {
//     display: inline-block;
//     list-style: none;
//     margin-right: 10px;
//     margin-left: 10px;
// }

// .site-footer-link {
//     color: var(--white-color);
//     font-size: var(--p-font-size);
//     line-height: inherit;
// }