<div class="px-3 py-3 text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="assets/dentavita-logo.png" alt="DentaVita" class="logo-image img-fluid" style="max-width: 15rem" />
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li class="nav-item" *ngFor="let link of links"><a href="{{link.url}}" class="nav-link text-white"
            aria-current="page">{{link.label}}</a></li>
      </ul>
    </div>
  </div>
</div>