<div class="container">
    <div class="row">

        <div class="text-center mb-5 pb-2 ">
            <router-outlet></router-outlet>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="d-flex flex-fill justify-content-center ">
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row gy-4">
        <div class="col-sm" *ngFor="let product of products">
            <div class="card border-1 h-100">
                <div class="card-body ">
                    <img src="./assets/{{ product.image }}" [alt]="product.name" class="card-img-top border-0" />

                    <h4 class="mb-1 text-center" style="color:#5fb2d2">{{ product.name }}</h4>
                    <h6 class="text-start pt-1 mt-0 mb-3" *ngFor="let link of product.links" style="color:#333333">
                        <a href="{{link.url}}" class="nav-link " aria-current="page">{{link.label}}</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>