<app-navbar></app-navbar>
<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="index.html">
      <img
        src="assets/dentavita-logo.jpg"
        class="logo-image img-fluid"
        alt="DentaVita"
        layout-fill
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Главная</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="about.html">Наша команда</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="installment.html">Оформить в рассрочку</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact.html">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="promo.html">Акции</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
